@font-face {
  font-family: "AllstateObjektiv";
  src: local("AllstateObjektiv"), url(../src/font/AllstateObjektiv_Rg.ttf);
}

body{
  /* font-family: 'Roboto', sans-serif; */
  font-family: "AllstateObjektiv";
  
}

.menu-link{
  cursor: pointer;
}

.selected-link, .selected-link:hover{
 color: #45bce5;
 fill: #45bce5;
}

.background-allstate-green{
  background-color: #064911 !important;
}

.background-allstate-green-faded{
  background-color:white; 
  color:#0033a071;
}

.text-allstate-blue, text-allstate-blue:link, text-allstate-blue:hover {
  color: #0033a0;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.display-none{
  display:none;
}
.claims-list-btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: #fff;
	background-color: #007bff;
}


.claims-list-btn:hover{
  	background-color: #0069d9;
}

.home-Claim-btn {
	display:inline-block;
	font-weight: 400;
	color: #0a0b0c;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: rgb(17, 6, 6);
	background-color: #d5e678;
}


.home-Claim-btn:hover{
  	background-color: #0069d9;
}
.home-Claim-btn1{
  border:5.4px solid #3C3B94;
  border-radius:16.2px;
  padding:27px 83px 27px 83px;
  margin:0;
  background-color:#3C3B94;
  color:#7DFFDA;
  font-weight:500;
  opacity:1;
  transition:1s;
}
.home-Claim-btn1:hover {
  cursor:pointer;
  background-color:#222153;
  opacity:1;
  transition:1s;
}



.btn-allstate-blue{
  background-color: #240675; 
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}
 
.btn-allstate-blue:hover{
  background-color: #45bce5;
  color: white;
}

.table{
  border: 1px solid;
  width:100%;
}

.table1 {
    border: 1px solid;
    width:72%; 
}
.table1 tbody th {
  color: #000;
  vertical-align:middle;
  text-align: center;
  border:1px solid #000 ;
}

.table-light.tr {
  color: #000099;
  vertical-align:middle;
  text-align: center;
  border:1px solid #000 ;
}

.table1 tbody tr {
  border-top: 1px solid #d6eeee;}


.claim-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.claim-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-light {
  --bs-table-color: #000;
  --bs-table-bg: #98c5e9;
  --bs-table-color: #0f1011;
}

.claim-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.claim-table tbody th:last-of-type {
  border-bottom: 2px solid #009879;
}

.claim-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.claim-table-link {

  cursor: pointer;
}

.claim-table-link:hover{
  color: gray;
  fill: gray;
}

.text-left{
  text-align: left;
}

.tab-archived {
  background-color: rgba(231, 231, 231, 0.788);
}

.open-archive-radio {
  padding-left: 5rem;
}
h5 {
  border-radius: 15px;
  text-align: center;
  max-width: 400px;  
  max-height: fit-content;
  justify-content:center;
  margin:auto;
   padding: 3px;
  font-size: 22px;
  background-color: #240675;
  color: #fff;
}
