@font-face {
  font-family: "AllstateObjektiv";
  src: local("AllstateObjektiv"), url(../src/font/AllstateObjektiv_Rg.ttf);
}

body{
  /* font-family: 'Roboto', sans-serif; */
  font-family: "AllstateObjektiv";
  
}

.menu-link{
  cursor: pointer;
}

.selected-link, .selected-link:hover{
 color: #45bce5;
 fill: #45bce5;
}

.background-allstate-green{
  background-color: #064911 !important;
}

.background-allstate-green-faded{
  background-color:white; 
  color:#0033a071;
}

.text-allstate-blue, text-allstate-blue:link, text-allstate-blue:hover {
  color: #0033a0;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.display-none{
  display:none;
}

.btn-allstate-blue{
  background-color: #09cf3a;
  color: white;
}

.btn-allstate-blue:hover{
  background-color: #45bce5;
  color: white;
}

table, th, td {
  border: 1px solid;
}

.claim-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.claim-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.claim-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.claim-table tbody th:last-of-type {
  border-bottom: 2px solid #009879;
}

.claim-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.claim-table-link {

  cursor: pointer;
}

.claim-table-link:hover{
  color: gray;
  fill: gray;
}

.text-left{
  text-align: left;
}

.tab-archived {
  background-color: rgba(231, 231, 231, 0.788);
}

.open-archive-radio {
  padding-left: 5rem;
}